*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1B2F45;
    color: #fff;
    font-family: Raleway, sans-serif;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
}

header a{
    color: #7D858F;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    transition: .5s;
    
}

header a:hover{
    color: #E9EAEC;
}

button{
    background-color: #56B8E6;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.modal-categoria{
    margin: 1rem;
}